<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Something</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is the root page when the Spring program is started</p>
    <a href="/">localhost:8080</a>

    <hr>
    <form action="#" th:action="@{/animal}" th:object="${animal}" method="post" >
        <input th:field="*{animalName}" placeholder="Animal name"/>
        <input th:field="*{animalType}" placeholder="Animal type"/>
        <input th:field="*{age}" placeholder="Animal age"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>